{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@assets": "./assets",
        "@common": "./src/common",
        "@components": "./src/components"
      }
    }],
    "transform-decorators-legacy"
  ]
}